option_settings:
   - namespace: aws:elasticbeanstalk:application:environment
     option_name: DB_HOST
     value: production.cvf72apqwc9a.us-east-2.rds.amazonaws.com
   - option_name: DB_PORT
     value: 3306
   - option_name: DB_NAME
     value: production
   - option_name: DB_USER
     value: bmwclubmontreal
   - option_name: DB_PASS
     value: bmwmtlclub514

container_commands:
   00removePackageJson:
      command: "rm package.json"
   01removePackageJson-lock:
      command: "rm package-lock.json"
   02envFile:
      command: "cp .env.example .env"
   03storareLink:
      command: "php artisan storage:link"
   04cacheClear:
      command: "php artisan cache:clear"
   05configClear:
      command: "php artisan config:clear"
   06chmod:
      command: "chmod -R 777 bootstrap/cache"
   07chmod:
      command: "chmod -R 777 storage"
   08migration:
      command: "php artisan migrate:refresh"
   09seeding:
      command: "php artisan db:seed"
users:
  ec2-user:
    groups:
      - webapp