commands:
  01_update_composer:
    command: export HOME=/root && export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update 1.0.0-alpha11

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: HOME
    value: /root
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeCommand
    value: "npm run dev"

container_commands:
   01optimize:
      command: "/usr/bin/composer.phar dump-autoload --optimize"
   02envFile:
      command: "cp .env.example .env"
   03storareLink:
      command: "php artisan storage:link"
   04cacheClear:
      command: "php artisan cache:clear"
   05configClear:
      command: "php artisan config:clear"
   06chmod:
      command: "chmod -R 777 bootstrap/cache"
   07chmod:
      command: "chmod -R 777 storage"

users:
  ec2-user:
    groups:
      - webapp