container_commands:
   02envFile:
      command: "cp .env.example .env"
   03storareLink:
      command: "php artisan storage:link"
   04cacheClear:
      command: "php artisan cache:clear"
   05configClear:
      command: "php artisan config:clear"
   06chmod:
      command: "chmod -R 777 bootstrap/cache"
   07chmod:
      command: "chmod -R 777 storage"
   08migration:
      command: "php artisan migrate:refresh"
   09seeding:
      command: "php artisan db:seed"
users:
  ec2-user:
    groups:
      - webapp