commands:
  01_update_composer:
    command: export HOME=/root && export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update 1.0.0-alpha11

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: HOME
    value: /root

files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_node.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            cd /var/app/current

            curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.5/install.sh | bash

            # Source nvm
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
            [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

            # Install node
            nvm install 8.6.0
            npm i && npm run dev

container_commands:
   01optimize:
      command: "/usr/bin/composer.phar dump-autoload --optimize"
   02envFile:
      command: "cp .env.example .env"
   03storareLink:
      command: "php artisan storage:link"
   04cacheClear:
      command: "php artisan cache:clear"
   05configClear:
      command: "php artisan config:clear"
   06chmod:
      command: "chmod -R 777 bootstrap/cache"
   07chmod:
      command: "chmod -R 777 storage"

users:
  ec2-user:
    groups:
      - webapp