html {
    position: relative;
    min-height: 100%;
    background: #ffffff;
    overflow-y: auto !important;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


#root {
    min-height: 100vh;
}

.router-anim-enter-active {
    animation: coming 2s;
    opacity: 0;
}

.router-anim-leave-active {
    animation: going 1s;
}

@keyframes going {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-50px);
        opacity: 0;
    }
}

@keyframes coming {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}


#container {
    display: grid;

    grid-template-areas:
            "nav"
            "content"
            "footer";

    grid-template-columns: 100vw;
    grid-template-rows: auto 1fr 0.25fr;

    min-height: 100vh;
    min-width:100vw;
    overflow: hidden;
}


header {
    grid-area: header;
}

#navbar {
    grid-area: nav;
    position: relative;
}

#main {
    grid-area: content;
}

#footer {
    grid-area: footer;
    align-self: end;
}


@media (max-width: 768px) {
    .container {
        grid-template-areas:
                "header"
                "nav"
                "content"
                "side"
                "footer";

        grid-template-columns: 1fr;
        grid-template-rows:
                auto /* Header */
                minmax(75px, auto) /* Nav */
                1fr /* Content */
                minmax(75px, auto) /* Sidebar */
                auto; /* Footer */
    }

    nav, aside {
        margin: 0;
    }
}




#submit-login.loading {
    background-image: url("/images/loader.gif");
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-size: 25px;
}

#submit-login.loading:hover {
    background-color: transparent;
}


#fileselector {
    margin: 10px;
}
.upload-button {
    display:none;
}
.margin-correction {
    margin-right: 10px;
}

