html {
    position: relative;
    min-height: 100%;
    background: #ffffff;
    overflow-y: auto !important;
}


#root {
    min-height: 100vh;
}

.router-anim-enter-active {
    animation: coming 2s;
    opacity: 0;
}

.router-anim-leave-active {
    animation: going 1s;
}

@keyframes going {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-50px);
        opacity: 0;
    }
}

@keyframes coming {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

#login-wrapper, #register-wrapper {
    background-image: url("/images/background/background.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#login-wrapper .container, #register-wrapper .container, {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#submit-login.loading {
    background-image: url("/images/loader.gif");
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-size: 25px;
}

#submit-login.loading:hover {
    background-color: transparent;
}


#fileselector {
    margin: 10px;
}
.upload-button {
    display:none;
}
.margin-correction {
    margin-right: 10px;
}

